@charset "UTF-8";


main .flex{
    display: flex;
}

main{
    height: 100em;
    /* width: auto; */
    background-color: whitesmoke;
    width: auto;
    background: url(img/realistic-bokeh-background/bg-news.jpg) repeat-x;
    background-position: 0 0;
    -webkit-animation: bgroop 20s linear infinite;
    animation: bgroop 20s linear infinite;
    border-bottom: 3px solid blue;
}

/* @-webkit-keyframes bgroop {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
} */

@keyframes bgroop {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

.main{
    padding: 7em 0;
    height: 20em;
    margin: auto;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

.main h1{
    font-size: 4em;
    line-height: 1;
}
.main span{
    font-size: 0.6em;
}

.main a{
    color: white;
    padding:  0.7em 0.7em 0.9em 0.7em;
    font-size: 1.3em;
    border-radius: 1em;
    margin: auto 0;
    background-color: black;
}
.news{
    padding: 70px;
    height: 30em;
    width: auto;
}
.t-section{
    font-size: 2em;
    margin: 2em 0 1em 0;
}
.news img{
    width: 2em;
    height: auto;
}


.ivent{
    display: block;
    padding-top: 10em;
    max-height: 500px;
    margin: auto;
    text-align: center;
}

.ivenet h2{
    font-size: 2em;
}
.ivent ul{
    padding-top: 5em;
    margin: auto;
}
.ivent li{
    list-style: none;
    line-height: 0.8em;
    margin: 4em;
}
.ivent a{
    font-size: 1.3em;
    text-decoration: underline;

}
.ivent div{
    text-align: center;
    margin: auto;
    width: 50em;
    height: 0;
    border: 1.5px solid gray;
}