@charset "UTF-8";

main{
    padding-top: 10em;
    text-align: center;
}

.index{
    margin: auto;
    text-align: center;
}

main img{
    width: 60%;
    margin-top: 1em;
}

main section{
    font-size: 2em;
    width: 40%;
    margin: 30px auto;
}
/* 
main img{
    margin-top: 0.5em;
    margin-left: 2em;
    width: 30em;
    height: auto;
    object-fit: cover;
    object-position: center;
}
main .block{
    width: 30em;
}
main .flex{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}
main ul{
    margin: auto;
}
main li{
    font-size: 1.8em;
} */