@charset "UTF-8";

.content {
    padding: 0px 10rem 0px 10rem;
    font-family: 'Hina Mincho', serif;
}

.info {
    width: 16.7rem;
    padding-left: 1rem;
    padding-top: 4.5rem;
    border-bottom: 2px solid gray;
    font-size: 35px;
}
.background {
    background-image: url(img/原神拝啓.png);
    background-position: center;
    text-align: center;
}

#info {
    color: #FFF2F9;
    font-size: 25px;
    letter-spacing: 0.1rem;
}

.timeline {
    padding: 3rem;
    /* background-color: skyblue; */
}
#shadow{
    box-shadow: 0 10px 25px 0 rgb(96, 90, 90);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 1rem;
    background-color: aliceblue;
    width: 600px;
    margin: auto;
}
.twitter-timeline {
    margin: auto 0rem auto 0rem;
    padding:  0%
}
.kokuti{
    padding-left: 1rem;
    width: 16rem;
    padding-top: 4.5rem;
    border-bottom: 2px solid gray;
    font-size: 35px;
}
.padding{
    padding: 1.5rem;
}
#notic{
    color: white;
    font-size: 25px;
    letter-spacing: 0.1rem;}
.notic{
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 700px;
    font-size: 20px;
    background-color: #FFF2F9;
    text-align: center;
    margin: auto;
    font-family: 'Zen Antique Soft', serif;
    /* background-color: skyblue; */
}
.hasen{
    border-bottom: 2px dashed black;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
article{
    background-color: #FFC0CB;
}
footer{
    background-color: black;
    /* height: 50px; */
    color: white;
    height: 15rem;
}
.jyobi{
    padding-top: 2rem;
    text-align: center;
}
.copy{
    text-align: center;
    padding-top: 3rem;
}
.footerT{
    display: flex;
    font-size: 20px;
    text-align: center;
    padding-left: 37rem;
    padding-top: 1rem;
}
#twitterlogo{
    padding-left: 1rem;
    text-align: center;
    margin: auto;
    height: 1.6rem;
    width: 2.6rem;
}
.footerI{
    display: flex;
    font-size: 20px;
    text-align: center;
    padding-left: 36rem;
    padding-top: 0.3rem;
}
#instalogo{
    padding-left: 1rem;
    text-align: center;
    margin: auto;
    height: 1.6rem;
    width: 2.6rem;
}
body{
    /* background-color: aliceblue; */
    background-color: #FFC0CB;
}