@charset "utf-8";
.text-yellowgreen{
    color: yellowgreen;
}
.bg-bisque{
    background-color: bisque;
}
.bg-black{
    background-color: black;
}
.text-orange{
    color: orange;
}
.bg-color{
    background-color: bisque;
}